<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SBOutputController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SBConnectController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SBOutputController.Properties.Settings>
            <setting name="SBExecutablePath" serializeAs="String">
                <value>C:\Program Files (x86)\Creative\Sound Blaster Command\Creative.SBCommand.exe</value>
            </setting>
            <setting name="LastSelectedDevice" serializeAs="String">
                <value>G6</value>
            </setting>
            <setting name="HotKeyOutputToggle" serializeAs="String">
                <value>Ctrl + Shift + D0</value>
            </setting>
            <setting name="EqualizerFilePathHeadphones" serializeAs="String">
                <value>C:\Program Files\EqualizerAPO\config\headphones.txt</value>
            </setting>
            <setting name="EqualizerFilePathSpeakers" serializeAs="String">
                <value>C:\Program Files\EqualizerAPO\config\speakers.txt</value>
            </setting>
            <setting name="EqualizerFilePathConfig" serializeAs="String">
                <value>C:\Program Files\EqualizerAPO\config\config.txt</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EqualizerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </SBOutputController.Properties.Settings>
    </userSettings>
</configuration>